/* Universal Styling */
:root {
  --orange: hsl(25, 97%, 53%);
  --white: hsl(0, 0%, 100%);
  --light-grey: hsl(217, 12%, 63%);
  --medium-grey: hsl(216, 12%, 54%);
  --blue: hsl(213, 19%, 18%);
  --dark-blue: hsl(216, 12%, 8%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Overpass", sans-serif;
  font-size: 16px;
  background-color: var(--dark-blue);
}

body {
  min-height: 100vh;
  min-width: 375px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.93rem;
}

ul {
  list-style: none;
}

/* Fonts */
.heading {
  margin-top: 1.875rem;
  margin-bottom: 0.93rem;
  font-size: 1.75rem;
  color: var(--white);
}

.sub-heading {
  line-height: 24px;
  color: var(--light-grey);
}

.rate-content {
  font-size: 0.93rem;
  color: var(--orange);
}

/* Utility Class */
.card__container {
  width: 25.75rem;
  height: 416px;
  padding: 2rem;
  background: radial-gradient(
    98.96% 98.96% at 50% 0%,
    #232a34 0%,
    #181e27 100%
  );
  border-radius: 30px;
}

.circle {
  width: 3rem;
  height: 3rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: var(--blue);
  border-radius: 100%;
}

.hidden {
  display: none;
}

.input--rates__container {
  margin: 1.5rem auto 2rem;
  display: flex;
  justify-content: space-between;
}

.radio__component {
  width: 3rem;
  height: 3rem;
  position: relative;
  border-radius: 100%;
}

.radio__component label {
  font-weight: bold;
  color: var(--medium-grey);
  position: inherit;
  cursor: pointer;
  z-index: 10;
}

.btn,
input[type="radio"] {
  cursor: pointer;
  transition-property: background transform;
  transition-duration: 300ms;
}

.btn {
  font-weight: bold;
  text-transform: uppercase;
  border: none;
}

input[type="radio"] {
  appearance: none;
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: inherit;
  background-color: inherit;
  z-index: 5;
}

input[type="radio"]:checked {
  background-color: var(--medium-grey);
}

input[type="radio"]:hover {
  color: var(--white);
  background-color: var(--orange);
  transform: scale(1.2);
}

input[type="radio"]:hover + label,
input[type="radio"]:checked + label {
  color: white;
}

.btn--submit {
  width: 100%;
  height: 3rem;
  display: block;
  font-size: 0.93rem;
  letter-spacing: 3px;
  color: var(--white);
  background-color: var(--orange);
  border-radius: 25px;
}

.btn--submit:focus {
  outline: none;
}

.btn--submit:hover {
  color: var(--orange);
  background-color: var(--white);
}

/* Main Card (After Submission) */
.feedback--card {
  padding: 2.81rem 2.5rem;
  text-align: center;
}

.thankyou-image {
  margin-bottom: 2rem;
}

.result__container {
  width: 193px;
  height: 2rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--blue);
  border-radius: 25px;
}

@media only screen and (max-width: 425px) {
  body {
    padding: 0 5%;
  }

  .card__container {
    padding: 1.2rem;
    text-align: center;
  }
}
